body {
  background-color: #131313;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.car-svg {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}