html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  fill: var(--color);
}

#svg {
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
}

#content {
  text-align: center;
  font-family: sans-serif;
  user-select: none;
}

.balloon {
  cursor: pointer;
}

#behind_svg { z-index: 1; }
#content { z-index: 2; }
#svg { z-index: 3; }